
@{
    Layout = "~/Areas/Admin/Views/Shared/_AuthLayout.cshtml";
    @model FastFood.Models.FastFood_NhanVienDangNhap_QuenMatKhau
}

<div>
    @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { area = "Admin" }))
    {
        <div class="mb-3">
            @Html.LabelFor(x => x.TenDangNhap, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.TenDangNhap, new { @class = "form-control" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(x => x.Email, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @type = "email" })
        </div>
        <div class="mb-1 text-center d-grid">
            <button class="btn btn-primary" type="submit">Khôi phục mật khẩu</button>
        </div>
        if (ViewBag.ThongBao != null)
        {
            <script>
                $(document).ready(function() {
                    alertMessage("@Html.Raw(ViewBag.ThongBao)", "var(--bs-danger)");
                });
            </script>
        }
    }
</div>

<p class="mt-5 text-danger text-center">Quay lại <a href="@Url.Action("Login", "Account", new {area = "Admin"})" class="text-dark fw-bold ms-1">Đăng nhập</a></p>

