@using FastFood.DB;
@{
    ViewBag.Title = "Phê duyệt sản phẩm";
    var dsSanPham = ViewBag.SanPham as IEnumerable<SanPham>;
}

@Html.AntiForgeryToken()
<!-- Start Container Fluid -->
<div class="container-fluid">

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center gap-1">
                    <h4 class="card-title flex-grow-1">@ViewBag.Title</h4>

                    <div class="d-flex gap-2 mb-2">
                        <button id="approve-selected" class="btn btn-success d-none btn-sm">Phê duyệt được chọn</button>
                        <button id="reject-selected" class="btn btn-danger d-none btn-sm">Từ chối được chọn</button>
                    </div>

                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle btn btn-sm btn-outline-light" data-bs-toggle="dropdown" aria-expanded="false">
                            This Month
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="#!" class="dropdown-item">Download</a>
                            <!-- item-->
                            <a href="#!" class="dropdown-item">Export</a>
                            <!-- item-->
                            <a href="#!" class="dropdown-item">Import</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="table-responsive">
                        <table class="table align-middle mb-0 table-hover table-centered">
                            <thead class="bg-light-subtle">
                                <tr>
                                    <th style="width: 20px;">
                                        <div class="form-check ms-1">
                                            <input type="checkbox" class="form-check-input" id="select-all">
                                            <label class="form-check-label" for="select-all"></label>
                                        </div>
                                    </th>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá bán</th>
                                    <th>Danh mục</th>
                                    <th>Đã duyệt ?</th>
                                    <th>Ngày duyệt</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var sp in dsSanPham)
                                {
                                    string[] anhSplitted = sp.HinhAnh != null ? sp.HinhAnh.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries) : null;
                                    string imageUrl = (anhSplitted != null && anhSplitted.Length > 0) ? anhSplitted[0] : "#";
                                    <tr>
                                        <td>
                                            @{
                                                if (!sp.DaDuyet)
                                                {
                                                    <div class="form-check ms-1">
                                                        <input type="checkbox" class="form-check-input product-checkbox" data-id="@sp.MaSanPham">
                                                        <label class="form-check-label">&nbsp;</label>
                                                    </div>
                                                }
                                            }

                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center gap-2">
                                                <div class="rounded bg-light avatar-md d-flex align-items-center justify-content-center">
                                                    <img src="@imageUrl" alt="" class="avatar-md">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <p class="text-dark fw-medium fs-15 mb-1">@sp.TenSanPham</p>
                                                    <p class="text-secondary mb-0 product-description" data-full-description="@sp.MoTaNgan">@sp.MoTaNgan</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="d-flex flex-column align-items-center">
                                                <p class="text-red mb-1">@sp.GiaSauKhuyenMai đ</p>
                                                @if (sp.KhuyenMai != 0)
                                                {
                                                    <p class="mb-0 text-secondary text-muted text-decoration-line-through">@sp.GiaGoc đ</p>
                                                }
                                            </div>
                                        </td>
                                        <td> @sp.DanhMuc.TenDanhMuc</td>
                                        <td>
                                            @{
                                                if (sp.DaDuyet)
                                                {
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" checked="">
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox">
                                                    </div>
                                                }
                                            }
                                        </td>
                                        <td> @sp.NgayDuyet</td>
                                        <td>
                                            @{
                                                if (!sp.DaDuyet)
                                                {
                                                    <div class="d-flex gap-2">
                                                        <button type="button" class="btn btn-green btn-sm action-btn" data-id="@sp.MaSanPham" data-action="accept">
                                                            Phê duyệt
                                                        </button>
                                                        <button type="button" class="btn btn-red btn-sm action-btn" data-id="@sp.MaSanPham" data-action="refuse">
                                                            Từ chối
                                                        </button>
                                                    </div>
                                                }
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
                <div class="card-footer border-top">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end mb-0">
                            <!-- Previous Page Link -->
                            @if (ViewBag.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Approve", "Product", new { area = "Admin", page = ViewBag.CurrentPage - 1 })">
                                        Trước đây
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item disabled">
                                    <span class="page-link">Trước đây</span>
                                </li>
                            }

                            <!-- Page Numbers -->
                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                if (i == ViewBag.CurrentPage)
                                {
                                    <li class="page-item active">
                                        <span class="page-link">@i</span>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Approve", "Product", new { area = "Admin", page = i })">@i</a>
                                    </li>
                                }
                            }

                            <!-- Next Page Link -->
                            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Approve", "Product", new { area = "Admin", page = ViewBag.CurrentPage + 1 })">
                                        Tiếp theo
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item disabled">
                                    <span class="page-link">Next</span>
                                </li>
                            }
                        </ul>

                    </nav>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- End Container Fluid -->

<script>
    $(document).ready(function () {
        const token = $('input[name="__RequestVerificationToken"]').val();

        $('.action-btn').click(function () {
            const productId = $(this).data('id');
            const action = $(this).data('action');;
            $.ajax({
                url: '@Url.Action("Approve", "Product", new {area = "Admin"})',
                method: 'POST',
                data: {
                    productId: productId,
                    action: action,
                    __RequestVerificationToken: token
                },
                success: function (response) {
                    alertMessage(response.message, response.type);
                    if (response.success) {
                        setTimeout(() => {
                            location.reload();
                        }, 1500);
                    }
                },
                error: function () {
                    alert('Đã xảy ra lỗi khi thực hiện yêu cầu.');
                }
            });
        });

        $('#select-all').on('change', function () {
            $('.product-checkbox').prop('checked', this.checked);
            toggleActionButtons();
        });

        $('.product-checkbox').on('change', function () {
            toggleActionButtons();
        });

        function toggleActionButtons() {
            const anyChecked = $('.product-checkbox:checked').length > 0;
            $('#approve-selected, #reject-selected').toggleClass('d-none', !anyChecked);
        }

        $('#approve-selected').on('click', function () {
            let selectedIds = [];
            $('.product-checkbox:checked').each(function () {
                let row = $(this).closest('tr');
                if (row.find('.action-btn').length) {
                    selectedIds.push($(this).data('id'));
                }
            });

            if (selectedIds.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ApproveMultiple", "Product", new {area = "Admin"})',
                    data: { productIds: selectedIds, action: 'accept', __RequestVerificationToken: token },
                    success: function (response) {
                        alertMessage(response.message, response.type);
                        if (response.success) {
                            setTimeout(() => {
                                location.reload();
                            }, 1500);
                        }
                    },
                    error: function () {
                        alert('Đã xảy ra lỗi khi thực hiện yêu cầu.');
                    }
                });
            }
        });

        $('#reject-selected').on('click', function () {
            let selectedIds = [];
            $('.product-checkbox:checked').each(function () {
                let row = $(this).closest('tr');
                if (row.find('.action-btn').length) {
                    selectedIds.push($(this).data('id'));
                }
            });

            if (selectedIds.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ApproveMultiple", "Product", new {area = "Admin"})',
                    data: { productIds: selectedIds, action: 'refuse', __RequestVerificationToken: token },
                    success: function (response) {
                        alertMessage(response.message, response.type);
                        if (response.success) {
                            setTimeout(() => {
                                location.reload();
                            }, 1500);
                        }
                    },
                    error: function () {
                        alert('Đã xảy ra lỗi khi thực hiện yêu cầu.');
                    }
                });
            }
        });

        $('.product-description').each(function () {
            var fullDescription = $(this).data('full-description');
            if (fullDescription.length > 30) {
                var shortDescription = fullDescription.substring(0, 30) + ' ...';
                $(this).text(shortDescription);
            }
        });
    });
</script>
