@using FastFood.Models;
@{
    @model FastFood_NguyenLieu_ThemPhieuNhap
    var dsNguyenLieu = ViewBag.NguyenLieu as SelectList;
}

<div class="container-fluid my-3">
    <div class="row mt-3">
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Thêm phiếu nhập</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("WareHouse", "Ingredient", FormMethod.Post, new { area = "Admin", id = "createIngredientForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group mb-2">
                            <div class="form-check pb-1">
                                <input class="form-check-input" type="radio" name="chucNang" id="themNguyenLieuMoi" checked>
                                <label class="form-check-label" for="themNguyenLieuMoi">
                                    Thêm mới
                                </label>
                            </div>
                            <div class="form-check pb-1">
                                <input class="form-check-input" type="radio" name="chucNang" id="chonNguyenLieuCoSan">
                                <label class="form-check-label" for="chonNguyenLieuCoSan">
                                    Chọn nguyên liệu có sẵn
                                </label>
                            </div>
                        </div>
                        <div class="form-group mb-2" id="tenNguyenLieuDiv">
                            @Html.LabelFor(x => x.TenNguyenLieu, new { @class = "form-label" })
                            @Html.TextBoxFor(x => x.TenNguyenLieu, new { @class = "form-control", @autofocus = "" })
                        </div>

                        <div class="form-group mb-2" id="dropdownNguyenLieuDiv" style="display: none;">
                            @Html.LabelFor(m => m.MaNguyenLieu, new { @class = "form-label" })
                            @Html.DropDownListFor(m => m.MaNguyenLieu, dsNguyenLieu, "Chọn nguyên liệu", new
                           {
                               @class = "form-control mt-1",
                               @data_choices = "true",
                               @data_choices_groups = "true",
                               @data_placeholder = "Chọn nguyên liệu",
                               @id = "nguyenLieuCoSan"
                           })
                        </div>

                        <div class="form-group mb-2">
                            @Html.LabelFor(x => x.MoTa, new { @class = "form-label" })
                            @Html.TextBoxFor(x => x.MoTa, new { @class = "form-control" })
                        </div>

                        <div class="form-group mb-2">
                            @Html.LabelFor(x => x.MucDatHangLai, new { @class = "form-label" })
                            @Html.TextBoxFor(x => x.MucDatHangLai, new { @class = "form-control" })
                        </div>

                        <div class="form-group mb-2">
                            @Html.LabelFor(x => x.SoLuongNhap, new { @class = "form-label" })
                            @Html.TextBoxFor(x => x.SoLuongNhap, new { @class = "form-control", @type = "number", @min = "1" })
                        </div>
                        <div class="form-group mb-2">
                            @Html.LabelFor(x => x.DonViTinh, new { @class = "form-label" })
                            @Html.TextBoxFor(x => x.DonViTinh, new { @class = "form-control", @readonly = "" })
                        </div>
                        <div class="form-group mb-2">
                            @Html.LabelFor(x => x.NgayNhap, new { @class = "form-label" })
                            @Html.TextBoxFor(x => x.NgayNhap, new { @class = "form-control", @readonly = "" })
                        </div>
                        <button type="submit" class="btn btn-primary">Thêm phiếu nhập</button>
                    }
                </div>
            </div>


        </div>
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh sách nhập kho nguyên liệu</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Mã phiếu nhập</th>
                                <th scope="col">Tên nguyên liệu</th>
                                <th scope="col">Số lượng nhập</th>
                                <th scope="col">Người nhập</th>
                                <th scope="col">Ngày nhập</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>

</div>

<script>
    function loadReceipt() {
        $.ajax({
            url: '@Url.Action("GetListReceipt", "Ingredient", new {area = "Admin"})',
            type: 'GET',
            success: function (data) {
                var tableBody = $('table tbody');
                tableBody.empty();

                $.each(data, function (index, item) {
                    var row = $('<tr></tr>');
                    row.append('<td>' + item.MaNhapKho + '</td>');
                    row.append('<td>' + item.TenNguyenLieu + '</td>');
                    row.append('<td>' + item.SoLuongNhap + '</td>');
                    row.append('<td>' + item.NguoiNhap + '</td>');
                    row.append('<td>' + item.NgayNhap + '</td>');
                    tableBody.append(row);
                });
            },
            error: function (xhr, status, error) {
                alert("Có lỗi khi tải lại bảng dữ liệu: " + error);
            }
        });
    }

    $(document).ready(function () {
        loadReceipt();

        $('#themNguyenLieuMoi').change(function () {
            $('#tenNguyenLieuDiv').show();
            $('#dropdownNguyenLieuDiv').hide();
            $('#MoTa').show();
            $('#MucDatHangLai').show();
            $('label[for="MoTa"]').show();
            $('label[for="MucDatHangLai"]').show();
        });

        $('#chonNguyenLieuCoSan').change(function () {
            $('#tenNguyenLieuDiv').hide();
            $('#dropdownNguyenLieuDiv').show();
            $('#MoTa').hide();
            $('#MucDatHangLai').hide();
            $('label[for="MoTa"]').hide();
            $('label[for="MucDatHangLai"]').hide();
        });


        $('#createIngredientForm').on('submit', function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            const url = $(this).attr("action");

            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                success: function (response) {
                    alertMessage(response.message, response.type);
                    if (response.success) {
                        loadReceipt();
                    }
                },
                error: function (xhr, status, error) {
                    alert('Đã xảy ra lỗi khi tạo tài khoản.');
                }
            });
        });
    });
</script>


